# DATA PROCESSING

In [2]:
import pandas as pd
import numpy as np
import os

raw_file_path = os.path.join('..', 'data', 'raw', 'MARBURG_ASSAY_DATA_RAW.csv')

df = pd.read_csv(raw_file_path)
df

/tmp/ipykernel_420411/2790131446.py:7: DtypeWarning: Columns (1,10,11,12,14,15,16,17,18,19,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(raw_file_path)

,Unnamed: 0,PUBCHEM_RESULT_TAG,PUBCHEM_SID,PUBCHEM_CID,PUBCHEM_EXT_DATASOURCE_SMILES,PUBCHEM_ACTIVITY_OUTCOME,PUBCHEM_ACTIVITY_SCORE,PUBCHEM_ACTIVITY_URL,PUBCHEM_ASSAYDATA_COMMENT,Phenotype,...,Activity at 0.024 uM,Activity at 0.072 uM,Activity at 0.190 uM,Activity at 0.449 uM,Activity at 1.923 uM,Activity at 5.798 uM,Activity at 14.25 uM,Activity at 37.76 uM,Activity at 46.10 uM,Compound QC
0,0,RESULT_TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STRING,...,FLOAT,FLOAT,FLOAT,FLOAT,FLOAT,FLOAT,FLOAT,FLOAT,FLOAT,STRING
1,1,RESULT_DESCR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indicates type of activity observed: inhibitor...,...,% Activity at given concentration.,% Activity at given concentration.,% Activity at given concentration.,% Activity at given concentration.,% Activity at given concentration.,% Activity at given concentration.,% Activity at given concentration.,% Activity at given concentration.,% Activity at given concentration.,Source of compound
2,2,RESULT_UNIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NONE,...,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,PERCENT,NONE
3,3,RESULT_IS_ACTIVE_CONCENTRATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,RESULT_ATTR_CONC_MICROMOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.024,0.072,0.19,0.449,1.923,5.798,14.25,37.76,46.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301745,301745,301741,124359968.0,45479926.0,CCCCN1CC(OC2=C(S1(=O)=O)C(=CC=C2)F)(C)C,Inconclusive,10.0,http://assay.nih.gov/htsws/rest/display/vsv-ku...,NaN,Activator,...,42.2343,31.5066,13.9971,56.948,31.13,55.6761,19.853,NaN,18.199,QC'd by KUCMLD
301746,301746,301742,124359969.0,53245384.0,CC(C)[C@H]1COC2=C(C=CC(=C2)Br)S(=O)(=O)N1C(=O)...,Inconclusive,10.0,http://assay.nih.gov/htsws/rest/display/vsv-ku...,NaN,Activator,...,-11.918,53.5473,32.6346,16.175,18.1628,17.2013,45.5928,NaN,25.6867,QC'd by KUCMLD
301747,301747,301743,124359970.0,51359704.0,CC(C)C[C@@H]1COC2=C(C=CC(=C2)NCCCN3CCOCC3)S(=O...,Inconclusive,10.0,http://assay.nih.gov/htsws/rest/display/vsv-ku...,NaN,Activator,...,15.9411,18.342,12.8478,28.2831,45.6999,-5.5615,49.638,NaN,34.4453,QC'd by KUCMLD
301748,301748,301744,124359971.0,46902218.0,CC(C)C[C@H]1COC2=C(C=CC(=C2)Br)S(=O)(=O)N1CC3=...,Inconclusive,20.0,http://assay.nih.gov/htsws/rest/display/vsv-ku...,NaN,Inhibitor,...,14.8342,82.2987,15.6686,38.3947,35.9627,2.6928,1.9118,NaN,-47.8551,QC'd by KUCMLD
301749,301749,301745,124359972.0,51359724.0,CCCCNC1=C2C(=CC=C1)OC[C@@H](NS2(=O)=O)CC(C)C,Inconclusive,10.0,http://assay.nih.gov/htsws/rest/display/vsv-ku...,NaN,Activator,...,5.2601,52.7756,27.9055,38.2651,52.4394,5.6584,48.0617,NaN,13.088,QC'd by KUCMLD

In [3]:
import pandas as pd

# Select only the two necessary columns
filtered_df = df[['PUBCHEM_EXT_DATASOURCE_SMILES','Potency', 'PUBCHEM_ACTIVITY_OUTCOME']]
filtered_df = filtered_df[5:]
filtered_df.reset_index(inplace=True,drop=True)


# # Save the new dataset
# filtered_df.to_csv('filtered_data.csv', index=False)
# df = pd.read_csv('filtered_data.csv')
# df
filtered_df.head()

,PUBCHEM_EXT_DATASOURCE_SMILES,Potency,PUBCHEM_ACTIVITY_OUTCOME
0,CCOCCCNCC(=O)NC1=CC=C(C=C1)OC(F)(F)F.Cl,NaN,Inactive
1,COCCN1C(=NN=N1)CN2CCC(CC2)CC3=CC=CC=C3.Cl,NaN,Inactive
2,COCCN1C(=NN=N1)CN2CCC(CC2)(C3=CC(=CC=C3)C(F)(F...,3.6611,Inconclusive
3,C1CCCN(CC1)CC(=O)NCCC2=CC=C(C=C2)F.C(=O)(C(=O)O)O,NaN,Inactive
4,COC1=CC=C(C=C1)C(=O)C(C2=CC=CC=C2)N3CCOCC3.Cl,NaN,Inactive

In [4]:
# Counting the occurrences of each unique value in the 'PUBCHEM_ACTIVITY_OUTCOME' column
outcome_counts = filtered_df['PUBCHEM_ACTIVITY_OUTCOME'].value_counts()

# Print the result
print(outcome_counts)

PUBCHEM_ACTIVITY_OUTCOME
Inactive        212052
Inconclusive     84318
Active            5375
Name: count, dtype: int64

# DATA REMOVAL

In [5]:
# Remove rows where the outcome is 'inconclusive'
df_cleaned = filtered_df[filtered_df['PUBCHEM_ACTIVITY_OUTCOME'] != 'Inconclusive']
df_cleaned

,PUBCHEM_EXT_DATASOURCE_SMILES,Potency,PUBCHEM_ACTIVITY_OUTCOME
0,CCOCCCNCC(=O)NC1=CC=C(C=C1)OC(F)(F)F.Cl,NaN,Inactive
1,COCCN1C(=NN=N1)CN2CCC(CC2)CC3=CC=CC=C3.Cl,NaN,Inactive
3,C1CCCN(CC1)CC(=O)NCCC2=CC=C(C=C2)F.C(=O)(C(=O)O)O,NaN,Inactive
4,COC1=CC=C(C=C1)C(=O)C(C2=CC=CC=C2)N3CCOCC3.Cl,NaN,Inactive
5,CCOC(=O)CCNCC1COC2=CC=CC=C2O1.Cl,NaN,Inactive
...,...,...,...
301579,CCCCCCN1C[C@H]([C@@H](C[C@H]1C2=CC=CC=C2)O)N3C...,15.775,Active
301618,CC(C)CC1C(=O)N(CCS(=O)(=O)N1CC2=CC=C(C=C2)C3=C...,25.0176,Active
301687,COC1=CC=C(C=C1)CN(C2CCCC2)S(=O)(=O)C3=CC=CC=C3Br,12.5305,Active
301725,CCOC(=O)[C@@H](C)N1[C@@H]([C@@H](OC2=C(S1(=O)=...,4.446,Active
301733,CC1=CC=CC=C1C(=O)N2[C@H](COC3=C(S2(=O)=O)C=CC(...,9.9533,Active

In [6]:
df_cleaned['PUBCHEM_ACTIVITY_OUTCOME'].value_counts()

PUBCHEM_ACTIVITY_OUTCOME
Inactive    212052
Active        5375
Name: count, dtype: int64

In [7]:
# Randomly sample 7000 inactives
inactives = df_cleaned[df_cleaned['PUBCHEM_ACTIVITY_OUTCOME'] == 'Inactive']
inactives_sampled = inactives.sample(n=7000, random_state=42)  # Set random_state for reproducibility

# Combine the sampled inactives with the actives
actives = df_cleaned[df_cleaned['PUBCHEM_ACTIVITY_OUTCOME'] == 'Active']
df_balanced = pd.concat([actives, inactives_sampled])

# Shuffle the rows to mix actives and inactives
df_new = df_balanced.sample(frac=1, random_state=42).reset_index(drop=True)
df_new

,PUBCHEM_EXT_DATASOURCE_SMILES,Potency,PUBCHEM_ACTIVITY_OUTCOME
0,C1CN(CCN1)CCCCOC2=C(C=CC(=C2)Cl)Cl.C(=O)(C(=O)O)O,11.2202,Active
1,CC1=CC(=C(C(=C1)C)OCC(=O)NCC2COC3=CC=CC=C3O2)C,3.5481,Active
2,CC1=C(C=C2C(=N1)N=C(N2)SCC(=O)OC)Br,NaN,Inactive
3,CC1=C(NC(=C1C(=O)C)C)C(=O)CSC2=NC3=CC=CC=C3C(=...,20.5878,Active
4,CC(C)C[C@H]1C(=O)N2CCCC2[C@]3(N1C(=O)[C@](O3)(...,10.0,Active
...,...,...,...
12370,CN1C(S(=O)(=O)CCC1=O)C2=CC=C(C=C2)Cl,NaN,Inactive
12371,C1=CC=C2C(=C1)C(=O)C3=C(C2=O)C(=C(C=C3NC4=CC(=...,14.0684,Active
12372,CN1C(=NN=C1SCC=C)C2=C(N(N=C2)C3=CC=CC=C3)N4C=C...,NaN,Inactive
12373,COC1=CC=C(C=C1)CS(=O)(=O)/C(=C(\C(=O)NC2=CN=C(...,2.8184,Active
12374,CC1=C(C(=NO1)C2=CC=CC=C2)C(=O)NC(=S)NNC(=O)C3=...,NaN,Inactive

In [8]:
print(df_new['PUBCHEM_ACTIVITY_OUTCOME'].value_counts())

PUBCHEM_ACTIVITY_OUTCOME
Inactive    7000
Active      5375
Name: count, dtype: int64

# BINARIZTION

In [9]:
# Convert 'Active' to 1 and 'Inactive' to 0
df_new['PUBCHEM_ACTIVITY_OUTCOME'] = df_new['PUBCHEM_ACTIVITY_OUTCOME'].map({'Active': 1, 'Inactive': 0})
df_new = df_new[['PUBCHEM_EXT_DATASOURCE_SMILES', 'PUBCHEM_ACTIVITY_OUTCOME']]
df_new.head()

                       PUBCHEM_EXT_DATASOURCE_SMILES  PUBCHEM_ACTIVITY_OUTCOME
0  C1CN(CCN1)CCCCOC2=C(C=CC(=C2)Cl)Cl.C(=O)(C(=O)O)O                         1
1     CC1=CC(=C(C(=C1)C)OCC(=O)NCC2COC3=CC=CC=C3O2)C                         1
2                CC1=C(C=C2C(=N1)N=C(N2)SCC(=O)OC)Br                         0
3  CC1=C(NC(=C1C(=O)C)C)C(=O)CSC2=NC3=CC=CC=C3C(=...                         1
4  CC(C)C[C@H]1C(=O)N2CCCC2[C@]3(N1C(=O)[C@](O3)(...                         1

# DATA FILTERING

In [10]:
# Remove rows with NaN values in any column
df_filtered = df_new.dropna()

In [11]:
# Remove duplicates
df_final = df_filtered.drop_duplicates()
df_final

,PUBCHEM_EXT_DATASOURCE_SMILES,PUBCHEM_ACTIVITY_OUTCOME
0,C1CN(CCN1)CCCCOC2=C(C=CC(=C2)Cl)Cl.C(=O)(C(=O)O)O,1
1,CC1=CC(=C(C(=C1)C)OCC(=O)NCC2COC3=CC=CC=C3O2)C,1
2,CC1=C(C=C2C(=N1)N=C(N2)SCC(=O)OC)Br,0
3,CC1=C(NC(=C1C(=O)C)C)C(=O)CSC2=NC3=CC=CC=C3C(=...,1
4,CC(C)C[C@H]1C(=O)N2CCCC2[C@]3(N1C(=O)[C@](O3)(...,1
...,...,...
12369,COC1=CC=C(C=C1)C(=O)OCN2C(=O)C3=CC=CC=C3N=N2,0
12370,CN1C(S(=O)(=O)CCC1=O)C2=CC=C(C=C2)Cl,0
12372,CN1C(=NN=C1SCC=C)C2=C(N(N=C2)C3=CC=CC=C3)N4C=C...,0
12373,COC1=CC=C(C=C1)CS(=O)(=O)/C(=C(\C(=O)NC2=CN=C(...,1
12374,CC1=C(C(=NO1)C2=CC=CC=C2)C(=O)NC(=S)NNC(=O)C3=...,0

In [12]:
print(df_final['PUBCHEM_ACTIVITY_OUTCOME'].value_counts())

PUBCHEM_ACTIVITY_OUTCOME
0    6971
1    4700
Name: count, dtype: int64

In [13]:
df_final.columns = ['CANONICAL_SMILES', 'ACTIVITY']
df_final.head()

                                    CANONICAL_SMILES  ACTIVITY
0  C1CN(CCN1)CCCCOC2=C(C=CC(=C2)Cl)Cl.C(=O)(C(=O)O)O         1
1     CC1=CC(=C(C(=C1)C)OCC(=O)NCC2COC3=CC=CC=C3O2)C         1
2                CC1=C(C=C2C(=N1)N=C(N2)SCC(=O)OC)Br         0
3  CC1=C(NC(=C1C(=O)C)C)C(=O)CSC2=NC3=CC=CC=C3C(=...         1
4  CC(C)C[C@H]1C(=O)N2CCCC2[C@]3(N1C(=O)[C@](O3)(...         1

In [14]:
df_final.to_csv(os.path.join('..', 'data', 'preprocessed', '001_preprocessed_data.csv'), index=False)

# Splitting Dataset

In [15]:
preprocessed_file_path = os.path.join('..', 'data', 'preprocessed', '001_preprocessed_data.csv')
data = pd.read_csv(preprocessed_file_path)
X = data['CANONICAL_SMILES'].copy()
y = data['ACTIVITY'].copy()
data.head()

                                    CANONICAL_SMILES  ACTIVITY
0  C1CN(CCN1)CCCCOC2=C(C=CC(=C2)Cl)Cl.C(=O)(C(=O)O)O         1
1     CC1=CC(=C(C(=C1)C)OCC(=O)NCC2COC3=CC=CC=C3O2)C         1
2                CC1=C(C=C2C(=N1)N=C(N2)SCC(=O)OC)Br         0
3  CC1=C(NC(=C1C(=O)C)C)C(=O)CSC2=NC3=CC=CC=C3C(=...         1
4  CC(C)C[C@H]1C(=O)N2CCCC2[C@]3(N1C(=O)[C@](O3)(...         1

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 17)

In [17]:
train_dataset = pd.concat([X_train, y_train], axis=1)
train_dataset.head()

                                       CANONICAL_SMILES  ACTIVITY
6433             C1CCN(C1)C(=O)C2=NOC(=C2)C3=CC=CC=C3Cl         1
4848  C1C2CC3CC1CC(C2)(C3)C(=O)NCC4=NN=C(N4C5=CC=C(C...         1
5228  CCN(CCC#N)C1=CC(=C(C=C1)/C=N/NC2=NC(=CC(=O)N2)C)C         0
5002  CC1=C(N(C2=C1C=C(C=C2)C(=O)OCCCN(C)C)CC3=CC=CC...         1
2432  C1=CC=C2C(=C1)NC3=C(C(C(=C(N23)N)C#N)C4=CC=C(C...         1

In [18]:
test_dataset = pd.concat([X_test, y_test], axis = 1)
test_dataset.head()

                                       CANONICAL_SMILES  ACTIVITY
2888  CN(C)CC[C@@H](C1=CC=C(C=C1)Cl)C2=CC=CC=N2.C(=C...         1
1400  CC1=CC(=NO1)NC(=O)CSCC(=O)NC2=CC=CC=C2OC3=CC=C...         1
1308           CCCN(CCC)CC(CN1C2=CC=CC=C2C3=CC=CC=C31)O         1
3857                   COC1=C(C2=C(C=C1)C=CC(=O)O2)CC=C         0
1518  COC1=C(C=C(C=C1)/C=N\NC(=O)C2=CC=CC=C2Br)COC3=...         1

In [19]:
train_dataset.to_csv(os.path.join('..', 'data', 'preprocessed', '001_preprocessed_train_data.csv'), index=False)
test_dataset.to_csv(os.path.join('..', 'data', 'preprocessed', '001_preprocessed_test_data.csv'), index=False)